html, body { /**Main styling**/
    text-align: center;
    background-color: #E0E0E0;
    padding: 0px;
    margin: 0;
    height: 100%;
}

#main {
  font-family: 'Roboto';
  padding-top: 100px;
}

#fav, #you, #insta {
  width: 80%;
  height: 80%;
  padding: 10px;
}
