html, body { /**Main styling**/
  text-align: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0px;
  margin: 0;
  height: 100%;
}

a:link
{
   text-decoration: none;
   color: #0465a9;
}

a:visited
{
 text-decoration: none;
 color: #0465a9;
}

#nav
{
width: 100%;
height: 7.5%;
background-color: #242424;
color: #0465a9;
position: absolute;
font-size: 30px;
padding-top: 1%;
font-family: 'Open Sans', sans-serif;
text-align: left;
}


.main
{
 width: 100%;
 height: 100%;
 background-color: #242424;
 color: #0465a9;
 box-shadow: 0 0 20px black;
 font-family: 'Ubuntu', sans-serif;
 font-size: 30px;
 display: table;
}

#spacer
{
 width: 100%;
 height: 20%;
 background-color: rgba(0, 0, 0, 0.8);
 opacity: 80%;
}

#panel1
{
  display: table-cell;
  vertical-align: middle;
}

#up
{
  text-align: left;
  padding-left: 3%;
  padding-bottom: 3%;
  vertical-align: bottom;
  display: table-cell;
}


#down
{
  text-align: right;
  padding-right: 3%;
  padding-bottom: 3%;
  vertical-align: bottom;
  display: table-cell;
}

#arrow
{
  border: 0px;
  border-radius: 50%;
  padding: 5px;
}

#arrow:hover
{
  background-color: #0465a9;
  color: #242424;
}

#topbutton
{
  border: 0px;
  border-radius: 5%;
  padding: 5px;
}

#topbutton:hover
{
  background-color: #0465a9;
  color: #242424;
}


#aligner
{
  text-align: left;
  padding-left: 3%;
  padding-bottom: 3%;
  vertical-align: bottom;
  display: table-cell;
  color: #242424;
}

#link
{
  border-radius: 10px;
  border-width: thick;
  border-style: solid;
  border-color: #0465a9;
  padding: 10px;
}

#link:hover
{
  transition: .5s;
  color: #242424;
  background-color: #0465a9;
}

#home
{
 padding-left: 10px;
}

#notes
{
 padding-right: 10px;
 text-align: right;
 float: right;
}

#vishome
{
 color: #242424;
}

#home:hover #vishome
{
color: #0465a9;
transition: 1s;
}

#visnotes
{
color: #242424;
}

#notes:hover #visnotes
{
color: #0465a9;
transition: 1s;
}

#visible
{
 color: #0465a9;
}
