html, body { /**Main styling**/
    text-align: center;
    background-image: url(images/background.jpg);
    padding: 0px;
    margin: 0;
    height: 100%;
}

 a:link
 {
     text-decoration: none;
     color: #607D8B;
 }

 a:visited
 {
   text-decoration: none;
   color: #607D8B;
 }



@media (max-width: 700px) and (orientation: portrait),(max-width: 575px) and (orientation: landscape) { /**Make sure device is mobile, second part is added because some devices will not fit in the other one**/


@media (min-width: 700px), (orientation: landscape) and (min-width: 575px) { /**Makes sure device is big enough for full desktop version.**/
