html, body { /**Main styling**/
 margin: 0;
 height: 100%;
 scroll-behavior: smooth;
}

a.nav
{
  text-decoration: none;
  color: #428bca;
  padding: 10px;
  border-radius: 15px;
}

a.nav:visited
{
  text-decoration: none;
  color: #428bca;
  border-radius: 15px;
}

a.nav:hover
{
  text-decoration: none; 
  background-color: #428bca;
  color: #ffffff;
  border-radius: 15px;
  transition: .5s;
}


nav
{
  width: 100%;
  margin: 0;
  text-align: center;
  height: auto;
  position: fixed;
  z-index: 99;
  padding: 1%;
  box-shadow: 0 0 5px 0;
  font-size: 1.5em;
  background-color: #ffffff;

}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

li.nav 
{
  display: inline;
  padding: 1%;
  padding-right: 1%;
  padding-left: 1%;
  white-space: nowrap;
}

#home
{
  height: 100%;
  width: auto;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #home {
    padding-top: 40%;
    height: auto;
  }
  .labels {
    display: none;
  }
}

#about
{
  box-shadow: inset 0 5px 5px -5px;
  height: 100%;
  width: auto;
}

#work
{
  box-shadow: inset 0 5px 5px -5px;
  height: 100%;
  width: auto;
}

#contact
{
  box-shadow: inset 0 5px 5px -5px;
  height: 100%;
  width: auto;
}

#profile
{
  box-shadow: 0 0 5px 0;
  height: auto;
  width: 70%;
  border-radius: 100%;
}

#header
{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: #428bca;
}

#title
{
  color: black
}


